*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

html {
  /* color-scheme: dark light; */
  hanging-punctuation: first last;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100svh;
}

img,
picture,
svg,
video {
  display: block;
  font-style: italic;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

button,
input:is([type="submit"], [type="button"], [type="checkbox"]) {
  color: inherit;
  cursor: pointer;
  letter-spacing: inherit;
}

input[type="number"] {
  appearance: normal;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  font-variant-numeric: tabular-nums;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}


/* import heading font */
@font-face {
    font-family: "Underrated";
    src: url(../fonts/UNDERRATED-UltraBold\ Personal\ Use.otf);
}

/* import body font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-white: #ffffff;
    --main-black: #000000;
    --main-yellow: #ffff00;
    --heading-font: "Underrated";
    --body-font:"Noto Sans", serif;
}

.page-container {
    width: 90dvw;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font);
    height: 38rem;
}

.hero-left{
    flex: 1;
    flex-direction: column;
    max-width: 60%;
    height: 100%;
}

.hero-left h1{
    font-size: 15rem;
    color: #ffff00;
    text-shadow: 25px 25px 0 black;
    margin-bottom: 0;
    margin-top: 0;
}
.hero-left h3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff00;
  color: #000000;
  margin-left: 2%;
  margin-right: 75%;
  padding: 2%;
}

.hero-right{
    flex: 1;
    max-width: 40%;
    justify-content: flex-end;
}

.hero-right img{
    justify-content: flex-end;
    position: relative;
}

.hero-right h3{
position: absolute;
font-size: 2rem;
top: 450px;
color: #000000;
background-color: #ffff00;
right: 200px;
}

.hero-banner{
    display: flex;
    flex-direction: row;
    font-family: var(--heading-font);
}

.hero-logo{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}