:root {
    --main-white: #ffffff;
    --main-black: #000000;
}

.page-container {
    width: 90dvw;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}