#productSection{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.allProducts_btn{
  width: 10rem;
  height: 3rem;
  background-color: yellow;
  align-self: center;
  border-radius: 7px;
  margin-bottom: 2rem;
}
.lp_productCategory{
  height: 40rem;
  width: 130rem;
  
}
.categories_container{
  display: flex;
  gap: 0.5rem;
}
  .category{
    height: 35rem;
    width: 28rem;
    border: 1px solid;
    border-radius: 10px;
  }
    .category_Image{
      height: 30rem;
      width: 30rem;
    }