
#topRated {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    margin: 0 auto;
}


.trending-section {
    text-align: center;
    width: 100%; 
}

.trending {
    font-family: "Underrated", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-left: 3.5rem;
   
}


.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 10%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.product-card:hover {
    transform: scale(1.05); /* Makes the card 10% larger */
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2); /* Enhances shadow on hover */
}

.product-card img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Noto Sans", serif;
}

.product-info h3 {
    font-size: 1em;
    margin: 10px 0;
}

.product-info p {
    font-size: 0.9em;
    color: #333;
    margin: 5px 0;
}

#topRated_products{
    cursor: pointer;
}
#topRated_products:hover{
    color: yellow;
}


@media (max-width: 375px) {
    .trending{
        font-size: 2rem;

    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 columns */
        grid-template-rows: repeat(3, auto);  /* 2 rows */
        gap: 10px;
        width: 100%;
        max-width: 1200px;
        margin-left: 0%;
    }


.product-info p {
    font-size: 0.5em;
    color: #333;
    margin: 0px;
}

.product-info h3 {
    font-size: 0.5rem;
}

.product-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}
}
